.section-four {
    position: relative;
}

.think-image {
    width: auto;
    height: 30vh;
    position: absolute;
    bottom: 20%; /* This will position the image in the bottom 20% of the container */
    left: 50%; /* This will horizontally center the image */
    transform: translateX(-50%); /* This will horizontally center the image */
}