.section-2 {
  background-image: url(../../assets/sunflowers.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.sub-title {
    text-align: center;
    font-size: 4.5rem;
}

@keyframes slide-in-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .scroll-piece-left.slide-in-left {
    animation: slide-in-left 1.75s ease-out forwards;
  }
  
  .scroll-piece-right.slide-in-right {
    animation: slide-in-right 2.25s .1s ease-out forwards;
  }

  .about-me-text {
    margin: 0 80px;
    font-size: 1.2rem;
    padding: .25rem;
    border-radius: 8px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
  }

  .signature-text {
    text-align: end;
    font-size: 1.5rem;
    position: absolute;
    bottom: 100px;
    right: 50px;
  }

  .film-container {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
  }

  .film-image-container {
    display: inline-block;
    animation: scroll 180s linear infinite;
  }

  .film-image {
    width: 300px;
    height: auto;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }