
#root {
  padding: 0 auto;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: black;
  color: azure;
}

.page-section {
  width: 100vw;
  height: 100vh;
}

.spacer {
  padding: 3rem 0;
}

.mini-spacer {
  padding: 1rem 0;
}

.mediumContainer {
  max-width: 800px;
  margin: 0 auto;
}