#root, html {
  padding: 0 auto;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #A79277;
  color: azure;
  scroll-behavior: smooth;
}

.full-page {
  height: 100vh;
  margin: 0;
}

.spacer {
  padding: 3rem 0;
}

.mini-spacer {
  padding: 1rem 0;
}

.mediumContainer {
  max-width: 800px;
}

.largeContainer {
max-width: 1280px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-composure {
  background-color: rgba(240, 248, 255, 0.849);
  padding: .5rem;
  border-radius: 6%;
}

.text-sm {
  font-size: .825rem;
}

.background-composure-light {
  background-color: #EAD8C0;
  border-radius: 5%;
  opacity: .85;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-fade-in {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.scroll-piece-left.slide-in-left {
  animation: slide-in-left 1.75s ease-out forwards;
}

.scroll-piece-right.slide-in-right {
  animation: slide-in-right 2.25s .1s ease-out forwards;
}

.scroll-piece-fade.scroll-fade-in {
  animation: scroll-fade-in  3.5s .1s ease-out forwards;
}