
#root, html {
  padding: 0 auto;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: black;
  color: azure;
  scroll-behavior: smooth;
}

.page-section {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.spacer {
  padding: 3rem 0;
}

.mini-spacer {
  padding: 1rem 0;
}

.mediumContainer {
  max-width: 800px;
  margin: 0 auto;
}

.largeContainer {
max-width: 1280px;
margin: 0 auto;
}
